*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', 'Indie Flower', cursive;
}

:root{
    font-size: 62.5%;
    --primary-color: #FF0000;
    --secondary-color: #00ff9f;
    --tertiary-color : #bd00ff;
    --forty-color: #ff4d00;
    --fifty-color: #189ad3;
}

header{
    width: 100vw;
    height: 100vh;
}

header .header_top{
    width: 100%;
    height: 10vh;
}

header .header_top .nav{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    /* align-items: stretch; */
}

header .header_top .nav .menu{
    flex: 1 0 20%;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: calc( 2vw );
}

header .header_top .nav .menu:nth-child(1){
    background-color: var(--primary-color);
}

header .header_top .nav .menu:nth-child(2){
    background-color: var(--secondary-color);
}

header .header_top .nav .menu:nth-child(3){
    background-color: var(--tertiary-color);
}

header .header_top .nav .menu:nth-child(4){
    background-color: var(--forty-color);
}

header .header_top .nav .menu:nth-child(5){
    background-color: var(--fifty-color);
}

header .header_top .nav .menu svg{
    flex: 0 0 16%;
    position: relative;
    top: -0.3vw;
}

header .header_top .nav .menu span{
    flex: 0 0 30%;
}

header .header_bottom{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

header .header_bottom > .container{
    height: 90vh;
    /* width: 1000rem; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

header .header_bottom > .container div{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10vw;
    font-weight: bold;
    position: absolute;
    transition: all  1s cubic-bezier(1,0,0,1);
}

header .header_bottom > .container div:nth-child(1){
    background-color: var(--primary-color);
    left: -100vw;
}

header .header_bottom > .container.home div:nth-child(1){
    transition: all  1s cubic-bezier(1,0,0,1);
    left: 0 !important;
}

header .header_bottom > .container div:nth-child(2){
    background-color: var(--secondary-color);
    left: -100vw;
}

header .header_bottom > .container.about div:nth-child(2){
    transition: left  1s cubic-bezier(1,0,0,1);
    left: 0 !important;
}

header .header_bottom > .container div:nth-child(3){
    background-color: var(--tertiary-color);
    left: 100vw;
}

header .header_bottom > .container.gallery div:nth-child(3){
    transition: left  1s cubic-bezier(1,0,0,1);
    left: 0 !important;
}

header .header_bottom > .container div:nth-child(4){
    background-color: var(--forty-color);
    top: 90vh;
}

header .header_bottom > .container.projects div:nth-child(4){
    transition: top  1s cubic-bezier(1,0,0,1);
    top: 0 !important;
}

header .header_bottom > .container div:nth-child(5){
    background-color: var(--fifty-color);
    top: -90vh;
}

header .header_bottom > .container.contact div:nth-child(5){
    transition: top  1s cubic-bezier(1,0,0,1);
    top: 0 !important;
}

@media only screen and ( max-width: 500px) {
    header .header_top .nav .menu{
        font-size: calc( 4vw );
    }

    header .header_top .nav .menu span{
        display: none;
    }
}